<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mayer.rodrigo.agenda">

    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/contact"/>
            </intent-filter>
        </activity>

        <activity android:name=".Activities.AddContactActivity" android:label="@string/label_add_contact" android:parentActivityName=".Activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mayer.rodrigo.agenda.Activities.MainActivity" />
        </activity>
        <activity android:name=".Activities.ContactDetailsActivity" android:label="@string/label_view_contact" android:parentActivityName=".Activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mayer.rodrigo.agenda.Activities.MainActivity" />
        </activity>
    </application>

</manifest>